body{
    background-image: url(geometric-leaves/geometric-leaves.png);
}
form{
    width: 900px;
    background-color: rgba(100, 100, 100, .5);
}
#debug{
    margin-left: 50px;
    float: left;
    width: 50%;
}
#helper{
    float: left;
}
input#url{
    width: 99%;
}

