body{
    background-image: url(geometric-leaves/geometric-leaves.png);
}
form{
    margin-left: 20%;
    margin-top: 10%;
    width: 900px;
    background-color: rgba(100, 100, 100, .5);
}
input{
    border-radius: 20px;
}

#debug{
    margin-left: 5px;
    float: left;
    width: 60%;
}
#debugi{
    width: 99%;
}
input#email{
    float: left;
    width: 39%;
}
input#url{
    width: 99%;
}
.row{
    width: 100%;
    margin-top: 20px;
}
