body{
    background-image: url(geometric-leaves/geometric-leaves.png);
}
form{
    width: 900px;
    background-color: rgba(100, 100, 100, .5);
}
#debug{
    float: left;
}
#helper{
    float: left;
}
